.suiterultrasoundpic {
  width: 100%;
  max-width: 700px;
  height: auto;
  margin-top: 20px;
  border-style: solid;
  border-color: bisque;
}

.ultraDiv {
  border-radius: 5%;
  background-color: rgb(255, 228, 196, 0.5);
  z-index: 2;
  font-family: "BioRhyme", serif;
  height: auto;
}

.ultraBtn {
  width: 400px;
  background-color: rgb(73, 100, 73) !important;
  color: bisque !important;
  font-family: !important;
  text-shadow: 1px 1px 2px black;
}

.ultraParentDiv {
  display: inline-block;
  margin-left: auto;
  margin-right: auto;
  color: rgb(121, 91, 41);
  text-shadow: 1px 1px 2px white;
}
@media screen and (min-width: 1500px) {
  .ultraDiv {
    max-width: 700px;
    font-size: 25px;
    margin-bottom: 15px;
    padding: 30px;
  }

  .ultraBtn {
    width: 600px;
  }
}
@media screen and (min-width: 1050px) and (max-width: 1500px) {
  .suiterultrasoundpic {
    margin-left: 15px;
  }

  .ultraDiv {
    max-width: 500px;
    font-size: 18px !important;
    margin-bottom: 15px;
    margin-top: 10px;
    padding: 20px;
  }
}

@media screen and (min-width: 767px) and (max-width: 1050px) {
  .suiterultrasoundpic {
    margin-left: 15px;
  }

  .ultraDiv {
    max-width: 370px;
    font-size: 15px !important;
    margin-bottom: 15px;
    padding: 20px;
  }
}

@media screen and (min-width: 500px) and (max-width: 767px) {
  .ultraDiv {
    max-width: 450px;
    padding: 10px;
    margin-bottom: 25px;
    margin-top: 25px;
  }

  .suiterultrasoundpic {
    height: auto;
    width: 100%;
    max-width: 400px;
  }

  .ultraBtn {
    width: 400px;
  }
}

@media screen and (min-width: 430px) and (max-width: 500px) {
  .ultraDiv {
    font-size: 15px;
    max-width: 400px;
    margin-bottom: 25px;
    margin-top: 25px;
    padding: 10px;
  }

  .suiterultrasoundpic {
    max-width: 400px;
  }

  .ultraBtn {
    width: 400px;
  }
}

@media screen and (min-width: 320px) and (max-width: 430px) {
  .ultraDiv {
    font-size: 13px;
    max-width: 300px;
    margin-bottom: 20px;
    margin-top: 20px;
    padding: 10px;
  }

  .ultraBtn {
    width: 300px;
  }

  .suiterultrasoundpic {
    max-width: 300px;
  }
}
