.mike {
  padding: 20px;
  background-color: bisque !important;
  font-family: "Old Standard TT", serif;
  font-weight: 900;
  width: 700px;
  height: auto;
  margin: 10px;
  align-content: center;
  margin-top: 35px;
}

.fred {
  text-align: center;
}

.steve {
  display: flex;
  justify-content: center;
  padding-top: 10px;
}

.FbContainer {
  width: 150px;
  height: auto;
  margin-left: auto;
  margin-right: auto;
  display: flex;
  margin-top: 20px;
}


/* .FbThumb {
   width: 150px;
   height: 150px;
}

.FbText {
  background-image: url(../../Images/facebookThumbLike.png);
  background-repeat: no-repeat;
  background-size: 150px 150px;
  width: 150px;
  height: 150px;
} */

@media screen and (max-width: 767px) {
  .mike {
    width: 400px;
  }
  
}
