@import url("https://fonts.googleapis.com/css2?family=Old+Standard+TT&display=swap");

.profPic2 {
  display: flex;
  justify-content: center;
  width: 100%;
  max-width: 500px;
  height: auto;
  border: bisque;
  border-style: solid;
  border-width: 3px;
}

.bioCard2 {
  font-family: "Old Standard TT", serif;
  color: bisque !important;
  width: auto;
  height: 100%;
  background-color: rgb(74, 97, 78) !important;
  text-align: center;
}

.bioBio2 {
  display: flex;
  line-height: 1.3;
  font-size: 2vw;
  text-align: center;
  position: relative;
  text-shadow: 1px 1px 1px black;
}

.robot2 {
  display: flex;
  justify-content: center;
}

.bioName2 {
  font-size: 3vw;
  text-shadow: 1px 1px 1px black;
}

@media screen and (min-width: 1500px) {
  .profPic2 {
    width: 100%;
    max-width: 400px;
    max-height: 600px;
    height: auto;
  }

  .bioCard2 {
    padding: 20px;
    max-height: 600px;
    max-width: 1228px;
    margin-left: auto;
  }

  .bioBio2 {
    font-size: 30px;
  }

}
@media screen and (min-width: 1179px) and (max-width: 1500px) {

  .profPic2 {
    width: 100%;
    max-width: 400px;
    max-height: 600px;
    height: auto;
    margin-left: auto;
    margin-right: auto;
  }

  .bioCard2 {
    padding: 10px;
    margin-left: 11px;
    max-height: 600px;
  }

  .bioName2 {
    margin-top: 20px;
  }


}

@media screen and (min-width: 767px) and (max-width: 1179px) {

  .profPic2 {
    width: 100%;
    max-width: 400px;
    height: auto;
    margin-left: -11px;
  }


  .bioCard2 {
    padding: 10px;
    margin-left: 11px;
  }

  .bioName2 {
    margin-top: 20px;
  }

}

@media screen and (min-width: 575px) and (max-width: 767px) {
  .profPic2 {
    width: 100%;
    max-width: 400px;
    height: auto;
    margin-left: -11px;
  }


  .bioCard2 {
    padding: 5px;
    margin-left: 11px;
  }

  .bioName2 {
    margin-top: 15px;
  }

}

@media screen and (max-width: 575px) {

  .profPic2 {
    width: 100%;
    max-width: 200px;
    height: auto;
    margin-left: auto;
    margin-right: auto;
    margin-top: 20px;
  }


  .bioCard2 {
    padding: 10px;
    margin-top: 20px;
    margin-left: 30px;
    margin-right: 30px;
  }

  .bioName2 {
    font-size: 4vw;
    margin-top: 15px;
  }

  .bioBio2 {
    font-size: 3vw;
  }

  .pic2Collumn {
    order: 1
  }

  .bio2Collumn {
    order: 2
  }

}