@import url('https://fonts.googleapis.com/css2?family=Old+Standard+TT&display=swap');

.icecream {
    display: flex;
    justify-content: center;
    height: 400px;
}

.rooftop {
    font-family: 'Old Standard TT', serif;
    color: bisque !important;
    display: block;
    padding: 20px;
    font-size: 15px;
    max-width: 1500px;
    max-height: 400px;
    background-color: rgb(74, 97, 78) !important;
    margin-left:20px;
    text-align: center;
}

.ajay {
    display: flex;
    line-height: 1.3;
    font-size: 20px;
    text-align: center;
    position: relative;
}

.roomba {
    display: flex;
    justify-content: center;
}


@media only screen and (max-width: 767px) {
    
    .icecream {
        height: 200px;
    }
}