.each-slide > div {
  display: flex;
  align-items: center;
  justify-content: center;
  background-size: cover;
  height: 350px;
}

.laviathan {
  position:absolute;
  z-index: 1;
  margin-left: -200px;
  left: 50%;
}

.hercules {
  display:flex;
  justify-content: center;
}