
.laviathan {
  position:absolute;
  z-index: 1;
  margin-left: -135px;
  left: 50%;
  margin-top: 400px;
}

.hercules {
  display:flex;
  margin-right: auto;
  margin-left: auto;
  margin-bottom: 15px;
  max-width: 1100px;
}

@media only screen and (max-width: 767px) {
    
  .laviathan {
      margin-top: 200px;
  }
}