@import url('https://fonts.googleapis.com/css2?family=Lexend+Deca:wght@200&display=swap');

.suiterultrasoundpic {
  width: 100%;
  max-width: 600px;
  height: auto;
  padding: 10px;
  margin-top: 20px;
  border-style: solid;
  border-color: bisque;
}

.ultraDiv {
  border-radius: 5%;
  background-color: rgb(255, 228, 196, 0.5);
  z-index: 2;
  font-family: 'Lexend Deca', sans-serif;
}

.ultraBtn {
}

.ultraParentDiv {
  display: inline-block;
  max-width: 600px;
  margin-left: auto;
  margin-right: auto;
  text-shadow: 2px 2px black;
  color: white;
}

@media screen and (max-width: 767px) {
  .ultraDiv {
    max-width: 500px;
    margin-top: 30px;
    padding: 20px;
    margin-bottom: 15px;
  }
  .suiterultrasoundpic {
    height: auto;
    width: 100%;
    max-width: 400px;
  }
}


