/* header {
    color: blue;
}

body {
}

img {
    text-shadow: black;
}

#grey {
    background-color: rgb(1, 102, 1);
    padding: 10px;
    margin: 20px;
    color: white;

    border-radius: 10%;
} */
@import url('https://fonts.googleapis.com/css2?family=Gilda+Display&display=swap');

.navbar {
    background-color: bisque !important;
}

li a {
    color: rgb(3, 109, 8) !important;
    font-family: 'Gilda Display', serif;
    font-weight: 1000;
    font-size: 20px;
    
}
