header {
    color: blue;
}

body {
}

img {
    text-shadow: black;
}

#grey {
    background-color: rgb(1, 102, 1);
    padding: 10px;
    margin: 20px;
    color: white;

    border-radius: 10%;
}
