@import url('https://fonts.googleapis.com/css2?family=Old+Standard+TT&display=swap');

.felix {
    display: flex;
    justify-content: center;
    
}

.roony {
    font-family: 'Old Standard TT', serif;
    color: bisque !important;
    display: block;
    padding: 20px;
    font-size: 15px;
    max-width: 1500px;
    max-height: 400px;
    background-color: rgb(74, 97, 78) !important;
    margin-right:20px;
    text-align: center;
}

.coshey {
    display: flex;
    line-height: 1.3;
    font-size: 20px;
    text-align: center;
    position: relative;
}

.robot {
    display: flex;
    justify-content: center;
}


/* @media only screen and (max-width: 600px) {
    .chad {
        font-size: 590px;
    }
}  */