@import url('https://fonts.googleapis.com/css2?family=Old+Standard+TT&display=swap');

.spongebob {
    background-color: blue;
    height: 400px;
    padding: 50px;
}

.patrick {
    height: 400px;
    width: 200px;
    margin-left: 40px;
}

.bio {
    position:relative;
    width: 500px;
    float: right;
    margin-right: 50px;
    margin-top: -150px
}

.bob {
    float: left;
    padding-left: 50px;
}

.chad {
    font-family: 'Old Standard TT', serif;
    color: bisque;
    display: inline-block;
    padding-left: 25px;
    padding-top: 40px;
    margin: 20px;
    font-size: 15px;
}


@media only screen and (max-width: 600px) {
    .chad {
        font-size: 5px;
    }
} 